@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container{
	max-width: 1100px;
	margin: auto;
}

header{
  background: #FFF4E7;
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

nav li a{
	margin-left: 30px;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	color: #424242;
}

.banner{
	padding: 40px 0;
	text-align: center;
}

.banner h2{
	font-size: 3rem;
	font-weight: 700;
	color: #131313;
	line-height: 1.2em;
}

.banner p,
.team p,
.feature p,
.fact p{
	font-size: 1rem;
	font-weight: 400;
	color: #727272;
	line-height: 1.4em;
	margin-top: 0.625rem;
}

.banner button,
.team button{
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5em;
	color: #fff;
	border: none;
	border-radius: 6px;
	padding: 0.75rem 1.5rem;
	background: #FF900E;
	margin: 20px 0 40px 0;
}

.banner img{
	width: 100%;
}


.team{
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team .team-img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 45%;
}

.team img{
	width: 100%;
}

.team .team-content{
	width: 45%;
}

.team h2,
.feature h2,
.fact h2{
	font-size: 2.5rem;
	color: #131313;
	font-weight: 600;
}

.team h2 span:first-child{
	color: #727272;
}

.team h2 span:last-child{
	color: #FF900E;
}


.feature {
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feature .left{
	width: 47%;
	gap: 10px;
}

.feature h2{
	border-left: 5px solid #FF900E;
	padding-left: 20px;
	margin-bottom: 15px;
}

.feature .left .box{
	border-radius: 6px;
	background: #fff;
	padding: 25px;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
	margin: 20px 0;
}

.feature .left .box h5{
	font-size: 18px;
	font-weight: 600;
	color: #131313;
}

.feature .right{
	width: 45%;
}

.feature .right img{
	width: 100%;
	margin-left: 4.5rem;
}

.feature .right .box{
	background: #FF900E;
	color: #fff;
	width: 35%;
	padding: 30px;
	border-radius: 6px;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 0.75em;
	position: relative;
	bottom: 4rem;
}

.feature .right .box span{
	font-size: 1.125rem;
	font-weight: 400;
}



.fact {
	padding: 50px 0;
}