@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container{
	max-width: 1100px;
	margin: auto;
}

header{
  background: #FFF4E7;
  min-height: 100vh;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.875rem 0;
}

nav li a{
	margin-left: 1.875rem;
	text-decoration: none;
	font-size: 1rem;
	font-weight: 500;
	color: #424242;
}


/* Banner */


.banner{
	padding: 2.5rem 0;
	text-align: center;
}

.banner h2{
	font-size: 3rem;
	font-weight: 700;
	color: #131313;
	line-height: 1.2em;
}

.banner p,
.team p,
.feature p,
.fact p,
.sponsor p{
	font-size: 1rem;
	font-weight: 400;
	color: #727272;
	line-height: 1.4em;
	margin-top: 0.625rem;
}

.banner button,
.team button{
	font-size: 0.875rem;
	font-weight: 600;
	line-height: 1.5em;
	color: #fff;
	border: none;
	border-radius: 6px;
	padding: 0.75rem 1.5rem;
	background: #FF900E;
	margin: 1.25rem 0 2.5rem 0;
}

.banner img{
	width: 100%;
}


/* Team */


.team{
	padding: 3.125rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.team .team-img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.25rem;
	width: 45%;
}

.team img{
	width: 100%;
}

.team .team-content{
	width: 45%;
}

.team h2,
.feature h2,
.fact h2,
.sponsor h2{
	font-size: 2.5rem;
	color: #131313;
	font-weight: 600;
}

.team h2 span:first-child{
	color: #727272;
}

.team h2 span:last-child{
	color: #FF900E;
}


/* Feature */


.feature {
	padding: 3.125rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feature .left{
	width: 47%;
	gap: 10px;
}

.feature h2{
	border-left: 5px solid #FF900E;
	padding-left: 1.25rem;
	margin-bottom: 1rem;
}

.feature .left .box{
	border-radius: 6px;
	background: #fff;
	padding: 1.5625rem;
	box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
	margin: 20px 0;
}

.feature .left .box h5{
	font-size: 1.125rem;
	font-weight: 600;
	color: #131313;
}

.feature .right{
	width: 45%;
}

.feature .right img{
	width: 100%;
	margin-left: 4.5rem;
}

.feature .right .box{
	background: #FF900E;
	color: #fff;
	width: 35%;
	padding: 1.875rem;
	border-radius: 6px;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 0.75em;
	position: relative;
	bottom: 4rem;
}

.feature .right .box span{
	font-size: 1.125rem;
	font-weight: 400;
}


/* Fact */


.fact {
	padding: 3.125rem 0;
}

.fact-container{
	display: flex;
	justify-content: space-around;
	margin-top: 3.75rem;
}

.fact-box{
	text-align: center;
	background: white;
	border: 1px solid #FF900E;
	border-radius: 0.375rem;
	padding: 1.875rem;
}

.fact-box img{
	width: 2.75rem;
	height: 2.75rem;
}

.fact-box h3{
	font-size: 2.25rem;
	font-weight: 600;
	color: #424242;
	margin: 0.375rem 0;
}

.fact-box h6{
	font-size: 1rem;
	font-weight: 500;
	color: #727272;
}


/* Sponsor */


.sponsor {
	padding: 3.125rem 0;
	text-align: center;
}

.sponsor-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1.875rem;
}

.sponsor-container img{
	mix-blend-mode: luminosity;
}



/* Footer */


footer{
	padding: 3.125rem 0 7.5rem 0;
	text-align: center;
}

footer div{
	padding: 1.5625rem 0;
	width: 100%;
	background: #FFF4E7;
	border-radius: 0.375rem;
	font-size: 1rem;
	color: #424242;
}



/* Responsive */


@media screen and (max-width: 900px) {
	.container{
		max-width: 90%;
		margin: auto;
	}	
	.feature {
		flex-direction: column;
		row-gap: 20px;
	}
	.feature .left,
	.feature .right{
		width: 100%;
	}
	.feature .right img{
		margin-left: 0;
	}
}


@media screen  and (max-width: 576px) {
		nav{
		flex-direction: column;
		gap: 15px;
	}
	.team,
	.feature{
		flex-direction: column;
		row-gap: 30px;
	}
	.team .team-img,
	.team .team-content,
	.feature .left,
	.feature .right{
		width: 100%;
	}
	.feature .right img{
		margin-left: 0;
	}
	.feature .right .box{
		left: 0rem;
	}
	.fact-container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 2.5rem;
	}
	.sponsor br{
		display: none;
	}
	.sponsor-container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
	}

}